<app-header-crud></app-header-crud>


<form action="">
    <mat-form-field>
        <mat-label >Product</mat-label>
        <input matInput type="text" id="product-name" aria-describedby="Name">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label >Description</mat-label>
        <input matInput type="text" id="product-desc" aria-describedby="Description">
    </mat-form-field>

    <mat-form-field>
        <mat-label >Price</mat-label>
        <input matInput type="text" id="product-price" aria-describedby="Price">
    </mat-form-field>

    <button mat-icon-button >
        
        Create Product
    </button>

</form>